<p id="notice"><%= notice %></p>

<p>
  <strong>Sujet:</strong>
  <%= @anecdote.sujet %>
</p>

<p>
  <strong>Texte:</strong>
  <%= @anecdote.texte %>
</p>

<p>
  <strong>Themes:</strong>
  <%= @anecdote.themes %>
</p>

<p>
  <strong>Chapitre:</strong>
  <%= associe(@anecdote) %>
</p>

<%= link_to 'Editer', edit_anecdote_path(@anecdote) %> |
<%= link_to 'Retour', anecdotes_path %>