<h1>Liste des chapitres</h1>

<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th>Titre</th>
	  <th>Anecdotes</th>
	  <th>Scenes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chapitres.each do |chapitre| %>
      <tr>
        <td><%= chapitre.numero %></td>
        <td><%= chapitre.titre %></td>
		<td><% a = get_anecdote(chapitre) %>
			<% a.each do |anec| %>
			<%= link_to "#{anec.sujet[0...20]}", anec %>
			<% end %></td>
		<td><% s = get_scene(chapitre) %>
			<% s.each do |scene| %>
			<%= link_to "#{scene.texte[0...20]}", scene %>
			<% end %></td>
        <td><%= link_to 'Montrer', chapitre %></td>
        <td><%= link_to 'Editer', edit_chapitre_path(chapitre) %></td>
        <td><%= link_to 'Detruire', chapitre, method: :delete, data: { confirm: 'Etes vous sur?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouveau Chapitre', new_chapitre_path %>
