<!DOCTYPE html>
<html>
<head>
  <title>Projet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<table>
  <thead>
    <tr>
      <th><%= link_to 'Chapitres', chapitres_path %></th>
      <th><%= link_to 'Anecdotes', anecdotes_path %></th>
	  <th><%= link_to 'Scenes', scenes_path %></th>
	  <th><%= link_to 'Personnages', personnages_path %></th>
    </tr>
  </thead>
</table>

<%= yield %>

</body>
</html>
